body {
  height: 100vh;
  background-image: url(imgs/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Karla', sans-serif;
}

#navbar .navbar-brand {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.018em;
  color: rgba(255, 255, 255, 0.8)
}
.btn-outline-dark{
  border-color:rgba(255, 255, 255, 0.8);
}

.heading{
  font-size: 2.2rem;
}
.subhead{
  color: rgba(255, 255, 255, 0.8);
}
.subhead-link{
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.subhead-link:hover{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.container-fluid
{
  margin-top: 6vh;
}
a,#footer{
  color: rgba(252, 246, 246, 0.44);
  font-size: 0.7rem;
}


@media only screen and (max-width: 576px) {

  #navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);
    }
   .btn{
      font-size: 0.7rem;
    }
    .heading{
      font-size: 1.6rem;
    }
    .subhead{
      font-size: 0.8rem;
    }
    p.heading{
      margin-bottom: 0rem;
    }
    .container-fluid
    {
      margin-top: 5vh;
    }
    #footer, a{
      font-size: 0.5rem;
    }

}
